<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">
	<!-- 자주 사용하는 sql 문을 미리 정의 해 놓기 -->
	<sql id="fileColumns">
		num,title,writer,orgFileName,saveFileName,fileSize,viewCount,
		TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate
	</sql>

	<select id="getList" resultType="test.file.dto.FileDto"
		parameterType="test.file.dto.FileDto">
		SELECT *
		FROM (SELECT result1.*,ROWNUM rnum
			  FROM (SELECT <include refid="fileColumns"/>
			  		FROM board_data 
			  		<where>
						<if test="writer != null">
							OR writer LIKE '%'||#{writer}||'%'
						</if>
						<if test="title != null">
							OR title LIKE '%'||#{title}||'%'
						</if>
					</where>	
			  		ORDER BY num DESC) result1
			  )
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<insert id="insert" parameterType="test.file.dto.FileDto">
		INSERT INTO board_data
		(num, title, writer, orgFileName, saveFileName, viewCount, fileSize, regdate)
		VALUES(board_data_seq.NEXTVAL, 
		#{title}, #{writer}, #{orgFileName},#{saveFileName}, #{viewCount},#{fileSize}, SYSDATE)
	</insert>
	
	<update id="increaseViewCount" parameterType="int">
		UPDATE board_cafe
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<select id="getData" parameterType="int"
	 	resultType="test.file.dto.FileDto">
	 	SELECT writer,title,orgFileName,saveFileName,fileSize, viewCount, regdate
	 	FROM board_data
	 	WHERE num=#{num}
	 </select>
	 
	 <delete id="delete" parameterType="int">
	 	DELETE FROM board_data
	 	WHERE num=#{num}
	 </delete>
	 
	 <update id="update" parameterType="test.file.dto.FileDto">
	 	UPDATE board_data
	 	SET title=#{title}, orgFileName=#{orgFileName}, saveFileName=#{saveFileName}, fileSize=#{fileSize}
	 	WHERE num=#{num}
	 </update>	
		
	 <select id="getCount" resultType="int" 
	 		parameterType="test.file.dto.FileDto">
		SELECT NVL(MAX(ROWNUM), 0) 
		FROM board_data
		<where>
			<if test="writer != null">
				OR writer LIKE '%'||#{writer}||'%'
			</if>
			<if test="title != null">
				OR title LIKE '%'||#{title}||'%'
			</if>
		</where>	
	 </select>
</mapper>














