<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Test_Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>TimeServlet</servlet-name>
		<servlet-class>test.Servlet.TimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeServlet</servlet-name>
		<url-pattern>/time/now</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PersonServlet</servlet-name>
		<servlet-class>test.Servlet.PersonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonServlet</servlet-name>
		<url-pattern>/today/person</url-pattern>
	</servlet-mapping>
</web-app>